<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PantryPal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- JavaScript -->
    <script></script>

</head>

<body>
    
    <h1>PantryPal</h1>
    
    <div class='nav'>
        <a class='link' href={{url_for('index')}}>HOME</a>
        <a class='link' href={{url_for('pantry_page')}}>MY PANTRY</a>
        <a class='link' href={{url_for('upload_file')}}>UPLOAD IMAGE</a>
        <a class='link' href={{url_for('get_recipe')}}>FIND RECIPES</a>
    </div>

    <br>

    <div class="content">
    <h2>Upload Image</h2>
    
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=UPLOAD style="padding:10px; font-family: Poppins; background-color: white;">
    </form>

    </div>

</body>


</html>